body,h1 {
    font-family: "Montserrat", sans-serif
}

.sideb{
    display:none;
    padding-top:150px
}

.sideb-nav{
    padding:6px 24px;
}

.w3-text-grey a:link{
    text-decoration: none;
}

.w3-text-grey a:hover{
    font-size: 1.1em;
    font-weight: bold;
}

.info-card {
    min-height:200px;
}
 

.info-card h3{
    font-size: 2em;
    color: #000;
}

.info-card h4{
    font-size: 1.5em;
    color: #000;
}

.w3-danger {
    color:#000 !important; 
    background-color:#fdd9d6 !important;
}

.w3-success {
    color:#000 !important; 
    background-color:#a0fcbf !important;
}

.w3-info{
    color:#000 !important; background-color:#d8dcf1 !important;
}

 




 

 
 

 
 
 
 