body,h1 {
    font-family: "Montserrat", sans-serif
}

.sideb{
    display:none;
    padding-top:150px
}

.sideb-nav{
    padding:6px 24px;
}

.w3-text-grey a:link{
    text-decoration: none;
}

.w3-text-grey a:hover{
    font-size: 1.1em;
    font-weight: bold;
}

.info-card {
    min-height:200px;
}
 

.info-card h3{
    font-size: 2em;
}

.info-card h4{
    font-size: 1.5em;
}