body,h1 {
    font-family: "Montserrat", sans-serif
}

.sideb{
    display:none;
    padding-top:150px
}

.sideb-nav{
    padding:6px 24px;
}

.w3-center a:link{
    text-decoration: none;
}

.w3-center a:hover{
    font-size: 1.1em;
    font-weight: bold;
}

 